# Git Submodule Configuration for Matcha-TTS
[submodule "third_party/Matcha-TTS"]
    # Path where the submodule will be stored
    path = third_party/Matcha-TTS

    # URL of the Matcha-TTS repository
    url = https://github.com/shivammehta25/Matcha-TTS.git
